# Flutter
.dart_tool/
.packages
build/
*.iml
*.ipr
*.iws
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/key.properties
android/**/keystore.jks
android/.gradle/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
*.env

# Supabase
.supabase/
